In [1]:
import numpy as np 
import pandas as pd 
import matplotlib.pyplot as plt 
import seaborn as sns 
import geopandas as gpd 
import rasterio
import folium
import plotly.express as px
import os

In [4]:
# Load your dataset
climate_file_path = os.path.join("..", "data", "raw", "climate_data_nepal_district_wise_monthly.csv")

df = pd.read_csv(climate_file_path)

# Select the important columns only
selected_columns = [
    'YEAR', 'MONTH', 'DISTRICT', 'LAT', 'LON',
    'PRECTOT', 'T2M', 'T2M_MAX', 'RH2M', 'WS10M'
]

df_filtered = df[selected_columns]

# Filter rows where YEAR is between 2012 and 2017
df_filtered = df_filtered[(df_filtered['YEAR'] >= 2012) & (df_filtered['YEAR'] <= 2017)]

# Rename columns to simpler names
df_filtered.rename(columns={
    'PRECTOT': 'Prep',
    'T2M': 'AvgTemp',
    'T2M_MAX': 'MaxTemp',
    'RH2M': 'Humidity',
    'WS10M': 'WindSpeed'
}, inplace=True)

output_path = os.path.join("..", "data", "processed", "flitered_climate_data.csv")
df_filtered.to_csv(output_path, index=False)

df_filtered.head(15)

,YEAR,MONTH,DISTRICT,LAT,LON,Prep,AvgTemp,MaxTemp,Humidity,WindSpeed
372,2012,1,Arghakhanchi,27.9,83.2,36.46,12.78,19.09,51.21,2.23
373,2012,2,Arghakhanchi,27.9,83.2,10.93,16.40,23.90,39.39,2.85
374,2012,3,Arghakhanchi,27.9,83.2,17.71,20.72,28.99,28.13,3.04
375,2012,4,Arghakhanchi,27.9,83.2,14.04,26.91,34.38,27.54,3.61
376,2012,5,Arghakhanchi,27.9,83.2,7.53,30.94,38.31,19.34,3.14
377,2012,6,Arghakhanchi,27.9,83.2,71.20,32.26,38.69,34.73,3.14
378,2012,7,Arghakhanchi,27.9,83.2,422.26,26.72,30.22,80.56,2.50
379,2012,8,Arghakhanchi,27.9,83.2,326.18,25.50,28.80,84.98,2.25
380,2012,9,Arghakhanchi,27.9,83.2,493.01,24.17,27.51,86.41,2.08
381,2012,10,Arghakhanchi,27.9,83.2,39.75,20.68,25.11,77.63,1.68
382,2012,11,Arghakhanchi,27.9,83.2,2.39,16.51,22.23,61.83,1.84
383,2012,12,Arghakhanchi,27.9,83.2,0.05,13.56,20.22,52.16,2.02
384,2013,1,Arghakhanchi,27.9,83.2,26.59,11.59,18.44,49.85,2.09
385,2013,2,Arghakhanchi,27.9,83.2,62.35,15.98,22.88,53.77,2.74
386,2013,3,Arghakhanchi,27.9,83.2,6.93,21.90,29.72,38.12,3.27

In [4]:
import pandas as pd
import geopandas as gpd
from shapely.geometry import Point
import os

data_dir = os.path.join("..", "data", "raw", "modis")
shapefile_path = os.path.join("..", "data", "raw", "Shapefiles", "District.shp")

# Load Nepal district shapefile
districts_gdf = gpd.read_file(shapefile_path)
districts_gdf = districts_gdf.to_crs("EPSG:4326")  # Convert to WGS84 if not already

# Years to process
years = list(range(2012, 2018))

# Store all processed data for optional combined file
all_years = []

for year in years:
    file_name = f'modis_{year}_Nepal.csv'
    file_path = os.path.join(data_dir, file_name)
    
    # Load fire data for the year
    df = pd.read_csv(file_path)
    
    # Convert to GeoDataFrame using lat/lon
    geometry = [Point(xy) for xy in zip(df['longitude'], df['latitude'])]
    gdf = gpd.GeoDataFrame(df, geometry=geometry, crs="EPSG:4326")
    
    # Spatial join with district polygons
    joined = gpd.sjoin(gdf, districts_gdf, how="left", predicate='intersects')
    
    # Rename district column if needed 
    joined = joined.rename(columns={'DIST_NAME': 'District'})  # You might need to inspect column names
    
    # Drop lat/lon and geometry
    joined = joined.drop(columns=['latitude', 'longitude', 'geometry', 'index_right'], errors='ignore')
    
    # Save output file per year
    output_file = f'modis_{year}_Nepal_with_district.csv'
    output_path = os.path.join(data_dir, output_file)
    joined.to_csv(output_path, index=False)
   
    all_years.append(joined)

In [5]:
all_years

[      brightness  scan  track    acq_date  acq_time satellite instrument  \
 0          306.8   1.0    1.0  2012-01-05       746      Aqua      MODIS
 1          301.2   1.0    1.0  2012-01-06       517     Terra      MODIS
 2          316.2   1.0    1.0  2012-01-07       733      Aqua      MODIS
 3          302.5   1.0    1.0  2012-01-14       739      Aqua      MODIS
 4          309.6   1.1    1.1  2012-01-14       739      Aqua      MODIS
 ...          ...   ...    ...         ...       ...       ...        ...
 3576       312.9   1.1    1.1  2012-12-31       740      Aqua      MODIS
 3577       336.6   1.1    1.1  2012-12-31       740      Aqua      MODIS
 3578       306.6   1.0    1.0  2012-12-31       740      Aqua      MODIS
 3579       323.5   1.1    1.1  2012-12-31       741      Aqua      MODIS
 3580       323.9   1.1    1.1  2012-12-31       741      Aqua      MODIS

       confidence  version  bright_t31   frp daynight  type  OBJECTID  \
 0             64      6.2       292.8   6.0        D     0    3543.0
 1             24      6.2       279.2   7.0        D     0     653.0
 2             75      6.2       298.4   9.8        D     0    4670.0
 3             53      6.2       292.0   3.3        D     0    4028.0
 4             67      6.2       294.3   6.6        D     0    4341.0
 ...          ...      ...         ...   ...      ...   ...       ...
 3576          29      6.2       297.7   7.3        D     0    4341.0
 3577          89      6.2       300.2  38.6        D     0    4341.0
 3578          51      6.2       291.0   7.3        D     0     951.0
 3579          82      6.2       292.7  25.5        D     0     146.0
 3580          83      6.2       291.2  25.7        D     0     146.0

               State  State_Code       District  \
 0           Lumbini         5.0  NAWALPARASI_W
 1           Karnali         6.0       JAJARKOT
 2             Koshi         1.0        SUNSARI
 3           Madhesh         2.0       RAUTAHAT
 4           Madhesh         2.0        SAPTARI
 ...             ...         ...            ...
 3576        Madhesh         2.0        SAPTARI
 3577        Madhesh         2.0        SAPTARI
 3578        Gandaki         4.0        LAMJUNG
 3579  Sudurpashchim         7.0        BAJHANG
 3580  Sudurpashchim         7.0        BAJHANG

                                       Center  Area_SQKM
 0                                    Ramgram    10.4378
 1     Dhime-1,Batule wa Archhani-8,Dharapani    30.1941
 2                                     Jhumka     7.7742
 3                                       None     6.5277
 4                                       None     3.5683
 ...                                      ...        ...
 3576                                    None     3.5683
 3577                                    None     3.5683
 3578                                  Gaunda    20.5480
 3579                       Byansi VDC Office     9.6673
 3580                       Byansi VDC Office     9.6673

 [3581 rows x 19 columns],
       brightness  scan  track    acq_date  acq_time satellite instrument  \
 0          319.5   1.0    1.0  2013-01-01       511     Terra      MODIS
 1          308.4   1.0    1.0  2013-01-01       511     Terra      MODIS
 2          308.6   1.1    1.0  2013-01-01       511     Terra      MODIS
 3          304.5   1.0    1.0  2013-01-01       511     Terra      MODIS
 4          302.7   2.8    1.6  2013-01-01       824      Aqua      MODIS
 ...          ...   ...    ...         ...       ...       ...        ...
 2529       327.0   1.2    1.1  2013-12-30       806      Aqua      MODIS
 2530       302.4   1.4    1.2  2013-12-30       806      Aqua      MODIS
 2531       307.0   1.2    1.1  2013-12-30       806      Aqua      MODIS
 2532       342.7   1.3    1.1  2013-12-30       806      Aqua      MODIS
 2533       341.6   1.3    1.1  2013-12-30       806      Aqua      MODIS

       confidence  version  bright_t31   frp daynight  type  OBJECTID  \
 0             70      6.2       295.5  18.0        D     0    3078.0
 1             67      6.2       288.2  10.5        D     0    1341.0
 2             33      6.2       287.3   9.1        D     0    5439.0
 3             32      6.2       291.5   8.1        D     0     951.0
 4             41      6.2       290.8  24.7        D     0     790.0
 ...          ...      ...         ...   ...      ...   ...       ...
 2529          85      6.2       294.2  35.3        D     0     392.0
 2530          50      6.2       286.2  10.1        D     0    5096.0
 2531          55      6.2       294.3  12.2        D     0     392.0
 2532          93      6.2       290.7  71.1        D     0     146.0
 2533          92      6.2       289.4  68.9        D     0     146.0

               State  State_Code  District             Center  Area_SQKM
 0           Bagmati         3.0   DHADING      Sadbhanjhyang     8.1082
 1           Lumbini         5.0   PYUTHAN               Puja    28.4556
 2           Karnali         6.0     DOLPA               None   786.2029
 3           Gandaki         4.0   LAMJUNG             Gaunda    20.5480
 4           Karnali         6.0   KALIKOT              Manma    37.2507
 ...             ...         ...       ...                ...        ...
 2529  Sudurpashchim         7.0  DARCHULA        Gokuleshwor     8.1070
 2530        Karnali         6.0     HUMLA         Shreenagar    53.6464
 2531  Sudurpashchim         7.0  DARCHULA        Gokuleshwor     8.1070
 2532  Sudurpashchim         7.0   BAJHANG  Byansi VDC Office     9.6673
 2533  Sudurpashchim         7.0   BAJHANG  Byansi VDC Office     9.6673

 [2534 rows x 19 columns],
       brightness  scan  track    acq_date  acq_time satellite instrument  \
 0          310.0   1.2    1.1  2014-01-01       753      Aqua      MODIS
 1          304.7   1.0    1.0  2014-01-02       524     Terra      MODIS
 2          308.4   1.1    1.0  2014-01-02       524     Terra      MODIS
 3          306.7   1.0    1.0  2014-01-03       740      Aqua      MODIS
 4          302.0   1.0    1.0  2014-01-03       740      Aqua      MODIS
 ...          ...   ...    ...         ...       ...       ...        ...
 3438       315.0   1.0    1.0  2014-12-28       747      Aqua      MODIS
 3439       319.7   1.0    1.0  2014-12-30       734      Aqua      MODIS
 3440       319.5   1.2    1.1  2014-12-30       735      Aqua      MODIS
 3441       323.9   1.2    1.1  2014-12-30       735      Aqua      MODIS
 3442       309.3   2.0    1.4  2014-12-31       818      Aqua      MODIS

       confidence  version  bright_t31   frp daynight  type  OBJECTID  \
 0             69      6.2       296.3  10.4        D     0    2200.0
 1             27      6.2       293.3   7.2        D     0     653.0
 2             36      6.2       289.9  10.7        D     0    5439.0
 3             58      6.2       293.4   8.1        D     0    2872.0
 4             48      6.2       291.9   3.1        D     0    5478.0
 ...          ...      ...         ...   ...      ...   ...       ...
 3438          75      6.2       296.5  11.7        D     0    3845.0
 3439          78      6.2       298.2  14.0        D     0    4341.0
 3440          75      6.2       278.4  25.8        D     0    5096.0
 3441          80      6.2       285.8  31.7        D     0    5096.0
 3442          65      6.2       287.7  32.9        D     0     146.0

               State  State_Code       District  \
 0           Bagmati         3.0       CHITAWAN
 1           Karnali         6.0       JAJARKOT
 2           Karnali         6.0          DOLPA
 3           Bagmati         3.0  SINDHUPALCHOK
 4           Madhesh         2.0        SARLAHI
 ...             ...         ...            ...
 3438        Gandaki         4.0          KASKI
 3439        Madhesh         2.0        SAPTARI
 3440        Karnali         6.0          HUMLA
 3441        Karnali         6.0          HUMLA
 3442  Sudurpashchim         7.0        BAJHANG

                                       Center  Area_SQKM
 0                                  Bharatpur    10.0162
 1     Dhime-1,Batule wa Archhani-8,Dharapani    30.1941
 2                                       None   786.2029
 3                                   Attarpur    23.2731
 4                                       None     6.3855
 ...                                      ...        ...
 3438                                 Pokhara    47.7960
 3439                                    None     3.5683
 3440                              Shreenagar    53.6464
 3441                              Shreenagar    53.6464
 3442                       Byansi VDC Office     9.6673

 [3443 rows x 19 columns],
       brightness  scan  track    acq_date  acq_time satellite instrument  \
 0          310.2   1.4    1.2  2015-01-13       746      Aqua      MODIS
 1          313.8   1.0    1.0  2015-01-13       747      Aqua      MODIS
 2          304.4   1.1    1.1  2015-01-13       747      Aqua      MODIS
 3          302.4   1.0    1.0  2015-01-15       734      Aqua      MODIS
 4          308.3   1.1    1.0  2015-01-15       734      Aqua      MODIS
 ...          ...   ...    ...         ...       ...       ...        ...
 1078       312.6   1.0    1.0  2015-12-31       746      Aqua      MODIS
 1079       306.0   1.0    1.0  2015-12-31       747      Aqua      MODIS
 1080       300.8   1.0    1.0  2015-12-31       747      Aqua      MODIS
 1081       300.5   1.0    1.0  2015-12-31       747      Aqua      MODIS
 1082       308.8   1.0    1.0  2015-12-31       747      Aqua      MODIS

       confidence  version  bright_t31   frp daynight  type  OBJECTID  \
 0             69      6.2       293.1  15.4        D     0    5759.0
 1             44      6.2       291.1  12.8        D     0    1464.0
 2             59      6.2       292.9   5.9        D     0    6191.0
 3             44      6.2       289.0   5.5        D     0    3356.0
 4             67      6.2       293.7   7.1        D     0    2200.0
 ...          ...      ...         ...   ...      ...   ...       ...
 1078          64      6.2       290.9  11.9        D     0    1464.0
 1079          52      6.2       286.8   8.5        D     0     241.0
 1080          40      6.2       281.6   6.7        D     0    5096.0
 1081          33      6.2       288.5   5.0        D     0     146.0
 1082          49      6.2       286.5   9.6        D     0    1054.0

               State  State_Code    District             Center  Area_SQKM
 0             Koshi         1.0      MORANG          Hattimuda    11.9846
 1           Karnali         6.0     RUKUM_W             Simali     7.0751
 2     Sudurpashchim         7.0  KANCHANPUR       SHANKARPUR 2    53.6371
 3           Gandaki         4.0      GORKHA             Baguwa    18.9052
 4           Bagmati         3.0    CHITAWAN          Bharatpur    10.0162
 ...             ...         ...         ...                ...        ...
 1078        Karnali         6.0     RUKUM_W             Simali     7.0751
 1079  Sudurpashchim         7.0      BAJURA           Falasain     8.3238
 1080        Karnali         6.0       HUMLA         Shreenagar    53.6464
 1081  Sudurpashchim         7.0     BAJHANG  Byansi VDC Office     9.6673
 1082        Karnali         6.0        MUGU            Sorukot    14.6451

 [1083 rows x 19 columns],
       brightness  scan  track    acq_date  acq_time satellite instrument  \
 0          304.5   1.1    1.0  2016-01-01       517     Terra      MODIS
 1          301.1   1.1    1.0  2016-01-01       517     Terra      MODIS
 2          321.3   1.0    1.0  2016-01-01       517     Terra      MODIS
 3          305.2   1.0    1.0  2016-01-01       517     Terra      MODIS
 4          301.4   1.0    1.0  2016-01-01       518     Terra      MODIS
 ...          ...   ...    ...         ...       ...       ...        ...
 7762       326.5   1.0    1.0  2016-12-31       758      Aqua      MODIS
 7763       310.8   1.0    1.0  2016-12-31       758      Aqua      MODIS
 7764       326.8   1.0    1.0  2016-12-31       758      Aqua      MODIS
 7765       310.7   1.0    1.0  2016-12-31       758      Aqua      MODIS
 7766       314.2   1.0    1.0  2016-12-31       758      Aqua      MODIS

       confidence  version  bright_t31   frp daynight  type  OBJECTID  \
 0             45      6.2       271.4  10.2        D     0       NaN
 1             42      6.2       271.2   7.8        D     0       NaN
 2             70      6.2       269.6  23.0        D     0    5096.0
 3             53      6.2       282.3   8.6        D     0    5096.0
 4             16      6.2       285.1   5.3        D     0     146.0
 ...          ...      ...         ...   ...      ...   ...       ...
 7762          78      6.2       295.4  21.1        D     0    6191.0
 7763          38      6.2       293.6   6.7        D     0    6191.0
 7764          85      6.2       294.3  21.3        D     0    6191.0
 7765          70      6.2       293.0   7.9        D     0    6191.0
 7766          44      6.2       296.0   9.7        D     0    6191.0

               State  State_Code    District             Center  Area_SQKM
 0               NaN         NaN         NaN                NaN        NaN
 1               NaN         NaN         NaN                NaN        NaN
 2           Karnali         6.0       HUMLA         Shreenagar    53.6464
 3           Karnali         6.0       HUMLA         Shreenagar    53.6464
 4     Sudurpashchim         7.0     BAJHANG  Byansi VDC Office     9.6673
 ...             ...         ...         ...                ...        ...
 7762  Sudurpashchim         7.0  KANCHANPUR       SHANKARPUR 2    53.6371
 7763  Sudurpashchim         7.0  KANCHANPUR       SHANKARPUR 2    53.6371
 7764  Sudurpashchim         7.0  KANCHANPUR       SHANKARPUR 2    53.6371
 7765  Sudurpashchim         7.0  KANCHANPUR       SHANKARPUR 2    53.6371
 7766  Sudurpashchim         7.0  KANCHANPUR       SHANKARPUR 2    53.6371

 [7767 rows x 19 columns],
       brightness  scan  track    acq_date  acq_time satellite instrument  \
 0          306.6   1.1    1.1  2017-01-02       746      Aqua      MODIS
 1          316.9   1.1    1.1  2017-01-02       746      Aqua      MODIS
 2          311.3   1.0    1.0  2017-01-02       746      Aqua      MODIS
 3          308.7   1.0    1.0  2017-01-02       746      Aqua      MODIS
 4          327.0   1.1    1.1  2017-01-02       746      Aqua      MODIS
 ...          ...   ...    ...         ...       ...       ...        ...
 2213       313.3   1.0    1.0  2017-12-31       728      Aqua      MODIS
 2214       303.8   1.0    1.0  2017-12-31       728      Aqua      MODIS
 2215       302.5   1.2    1.1  2017-12-31       728      Aqua      MODIS
 2216       301.4   1.0    1.0  2017-12-31       728      Aqua      MODIS
 2217       303.1   1.0    1.0  2017-12-31       728      Aqua      MODIS

       confidence  version  bright_t31   frp daynight  type  OBJECTID  \
 0             23      6.2       295.2   4.5        D     0       NaN
 1             77      6.2       295.0  15.7        D     0    6191.0
 2             69      6.2       296.4   5.9        D     0       NaN
 3             59      6.2       296.6   4.0        D     0    3543.0
 4             85      6.2       295.2  28.0        D     0    6191.0
 ...          ...      ...         ...   ...      ...   ...       ...
 2213          73      6.2       287.5  14.2        D     0     872.0
 2214          47      6.2       290.3   6.5        D     0    1620.0
 2215          49      6.2       282.4   8.8        D     0    3356.0
 2216          34      6.2       291.4   5.1        D     0    1620.0
 2217          55      6.2       287.3   6.7        D     0     872.0

               State  State_Code       District        Center  Area_SQKM
 0               NaN         NaN            NaN           NaN        NaN
 1     Sudurpashchim         7.0     KANCHANPUR  SHANKARPUR 2    53.6371
 2               NaN         NaN            NaN           NaN        NaN
 3           Lumbini         5.0  NAWALPARASI_W       Ramgram    10.4378
 4     Sudurpashchim         7.0     KANCHANPUR  SHANKARPUR 2    53.6371
 ...             ...         ...            ...           ...        ...
 2213          Koshi         1.0        KHOTANG  Ainselukhark    16.5601
 2214          Koshi         1.0  SANKHUWASABHA      Chainpur    12.5205
 2215        Gandaki         4.0         GORKHA        Baguwa    18.9052
 2216          Koshi         1.0  SANKHUWASABHA      Chainpur    12.5205
 2217          Koshi         1.0        KHOTANG  Ainselukhark    16.5601

 [2218 rows x 19 columns]]

In [6]:
#  Save combined file
combined_output = os.path.join(data_dir, 'modis_2012_2017_all_districts.csv')
pd.concat(all_years, ignore_index=True).to_csv(combined_output, index=False)

In [7]:
import pandas as pd

# Load the combined fire dataset
modis_path = os.path.join("..", "data", "raw", "modis", "modis_2012_2017_all_districts.csv")
df = pd.read_csv(modis_path)

# Drop unnecessary columns
columns_to_drop = [
    'scan', 'track', 'acq_time', 'satellite', 'instrument',
    'version', 'type', 'OBJECTID', 'State', 'State_Code',
    'Center', 'Area_SQKM'
]

df = df.drop(columns=columns_to_drop, errors='ignore')

df = df.rename(columns={
    'brightness': 'Brightness',
    'acq_date': 'Date',
    'confidence': 'Confidence',
    'bright_t31': 'ThermalData',
    'frp': 'FRP',                 ##Fire Radiative Power
    'daynight': 'DayNight',
    'District':'DISTRICT'
})


df.head()

,Brightness,Date,Confidence,ThermalData,FRP,DayNight,DISTRICT
0,306.8,2012-01-05,64,292.8,6.0,D,NAWALPARASI_W
1,301.2,2012-01-06,24,279.2,7.0,D,JAJARKOT
2,316.2,2012-01-07,75,298.4,9.8,D,SUNSARI
3,302.5,2012-01-14,53,292.0,3.3,D,RAUTAHAT
4,309.6,2012-01-14,67,294.3,6.6,D,SAPTARI

In [8]:
df.count()

Brightness     20626
Date           20626
Confidence     20626
ThermalData    20626
FRP            20626
DayNight       20626
DISTRICT       20148
dtype: int64

In [9]:
import pandas as pd


# Convert the 'Date' column to datetime format (handle errors)
df['Date'] = pd.to_datetime(df['Date'], errors='coerce')

# Extract YEAR, MONTH, and DAY from the 'Date' column
df['YEAR'] = df['Date'].dt.year
df['MONTH'] = df['Date'].dt.month
df['DAY'] = df['Date'].dt.day

# Drop the original 'Date' column
df = df.drop(columns=['Date'], errors='ignore')

# Reorganize columns to have YEAR, MONTH, and DAY first
df = df[['YEAR', 'MONTH', 'DAY', 'DISTRICT', 'Brightness', 'Confidence', 'ThermalData', 'FRP', 'DayNight']]

# Display the updated DataFrame
print(df.head())

   YEAR  MONTH  DAY       DISTRICT  Brightness  Confidence  ThermalData  FRP  \
0  2012      1    5  NAWALPARASI_W       306.8          64        292.8  6.0
1  2012      1    6       JAJARKOT       301.2          24        279.2  7.0
2  2012      1    7        SUNSARI       316.2          75        298.4  9.8
3  2012      1   14       RAUTAHAT       302.5          53        292.0  3.3
4  2012      1   14        SAPTARI       309.6          67        294.3  6.6

  DayNight
0        D
1        D
2        D
3        D
4        D

In [10]:
df['DISTRICT'] = df['DISTRICT'].replace({
    'RUKUM_E': 'RUKUM',
    'RUKUM_W': 'RUKUM',
    'NAWALPARASI_E': 'NAWALPARASI',
    'NAWALPARASI_W': 'NAWALPARASI'
})

In [11]:
df.count()

YEAR           20626
MONTH          20626
DAY            20626
DISTRICT       20148
Brightness     20626
Confidence     20626
ThermalData    20626
FRP            20626
DayNight       20626
dtype: int64

In [12]:
output_path = os.path.join("..", "data", "raw", "modis", "modis_2012_2017_all_districts.csv")
df.to_csv(output_path, index=False)

In [13]:
df.isnull().sum()

df.dropna(inplace=True)

df.isnull().sum()

YEAR           0
MONTH          0
DAY            0
DISTRICT       0
Brightness     0
Confidence     0
ThermalData    0
FRP            0
DayNight       0
dtype: int64

In [14]:
df.count()

YEAR           20148
MONTH          20148
DAY            20148
DISTRICT       20148
Brightness     20148
Confidence     20148
ThermalData    20148
FRP            20148
DayNight       20148
dtype: int64

In [15]:
output_path = os.path.join("..", "data", "raw", "modis", "modis_2012_2017_all_districts.csv")
df.to_csv(output_path, index=False)

In [16]:
df.nunique()

YEAR              6
MONTH            12
DAY              31
DISTRICT         75
Brightness      694
Confidence      100
ThermalData     491
FRP            1115
DayNight          2
dtype: int64

In [17]:
import geopandas as gpd

climate_path = os.path.join("..", "data", "processed", "flitered_climate_data.csv")
df_climate = gpd.read_file(climate_path)
df_climate.head()

,YEAR,MONTH,DISTRICT,LAT,LON,Prep,AvgTemp,MaxTemp,Humidity,WindSpeed
0,2012,1,Arghakhanchi,27.9,83.2,36.46,12.78,19.09,51.21,2.23
1,2012,2,Arghakhanchi,27.9,83.2,10.93,16.4,23.9,39.39,2.85
2,2012,3,Arghakhanchi,27.9,83.2,17.71,20.72,28.99,28.13,3.04
3,2012,4,Arghakhanchi,27.9,83.2,14.04,26.91,34.38,27.54,3.61
4,2012,5,Arghakhanchi,27.9,83.2,7.53,30.94,38.31,19.34,3.14

In [18]:
print(df_climate['DISTRICT'].unique())

['Arghakhanchi' 'Baglung' 'Baitadi' 'Bajang' 'Banke' 'Bara' 'Bardiya'
 'Bhaktapur' 'Chitawan' 'Dadeldhura' 'Dailekh' 'Dang' 'Darchula' 'Dhading'
 'Dhankuta' 'Dhanusa' 'Dolkha' 'Dolpa' 'Doti' 'Gorkha' 'Gulmi' 'Humla'
 'Ilam' 'Jhapa' 'Jumla' 'Kabhre' 'Kailali' 'Kanchanpur' 'Kaski'
 'Kathmandu' 'Lalitpur' 'Lamjung' 'Mahottari' 'Makwanpur' 'Manang'
 'Morang' 'Mugu' 'Mustang' 'Myagdi' 'Nawalparasi' 'Nuwakot' 'Okhaldhunga'
 'Palpa' 'Panchther' 'Parbat' 'Rasuwa' 'Routahat' 'Rukum' 'Rupandehi'
 'Salyan' 'Sankhuwasabha' 'Saptari' 'Sarlahi' 'Sindhuli' 'Solukhumbu'
 'Sunsari' 'Surkhet' 'Syangja' 'Tanahun' 'Taplejung' 'Terhathum'
 'Udayapur']

In [19]:
fire_data_path = os.path.join("..", "data", "raw", "modis", "modis_2012_2017_all_districts.csv")
df_fire = pd.read_csv(fire_data_path)
df_fire.head()

,YEAR,MONTH,DAY,DISTRICT,Brightness,Confidence,ThermalData,FRP,DayNight
0,2012,1,5,NAWALPARASI,306.8,64,292.8,6.0,D
1,2012,1,6,JAJARKOT,301.2,24,279.2,7.0,D
2,2012,1,7,SUNSARI,316.2,75,298.4,9.8,D
3,2012,1,14,RAUTAHAT,302.5,53,292.0,3.3,D
4,2012,1,14,SAPTARI,309.6,67,294.3,6.6,D

In [20]:
df_fire.drop(columns=['DayNight'],inplace=True,errors='coerce')

In [21]:
df_fire.head()

   YEAR  MONTH  DAY     DISTRICT  Brightness  Confidence  ThermalData  FRP
0  2012      1    5  NAWALPARASI       306.8          64        292.8  6.0
1  2012      1    6     JAJARKOT       301.2          24        279.2  7.0
2  2012      1    7      SUNSARI       316.2          75        298.4  9.8
3  2012      1   14     RAUTAHAT       302.5          53        292.0  3.3
4  2012      1   14      SAPTARI       309.6          67        294.3  6.6

In [22]:

# Group by YEAR, MONTH, DISTRICT and compute meaningful statistics
aggregated_df = df_fire.groupby(['YEAR', 'MONTH', 'DISTRICT']).agg({
    'Brightness': 'mean',       # average intensity
    'Confidence': 'mean',       # average confidence
    'ThermalData': 'mean',      # average thermal reading
    'FRP': 'sum',               # total fire radiative power for month
    
}).reset_index()

# Rename the DayNight column to something meaningful
aggregated_df = aggregated_df.rename(columns={'DayNight': 'DayNight_Unique'})

# Add Fire_Count column
fire_counts = df_fire.groupby(['YEAR', 'MONTH', 'DISTRICT']).size().reset_index(name='Fire_Count')

# Merge fire count into the aggregated dataframe
final_df = pd.merge(aggregated_df, fire_counts, on=['YEAR', 'MONTH', 'DISTRICT'])

# View result
print(final_df.head())

   YEAR  MONTH  DISTRICT  Brightness  Confidence  ThermalData    FRP  \
0  2012      1   BARDIYA  313.650000   74.000000   291.350000   96.6
1  2012      1  CHITAWAN  317.728571   67.142857   292.457143  221.0
2  2012      1     DOLPA  314.487500   55.250000   292.150000  179.0
3  2012      1    GORKHA  314.300000   60.600000   288.980000  345.5
4  2012      1  JAJARKOT  303.633333   32.333333   288.100000   30.1

   Fire_Count
0           2
1           7
2           8
3           5
4           3

In [23]:
output_path = os.path.join("..", "data", "processed", "filtered_fire_data.csv")
final_df.to_csv(output_path, index=False)

In [24]:
final_df.count()

YEAR           1608
MONTH          1608
DISTRICT       1608
Brightness     1608
Confidence     1608
ThermalData    1608
FRP            1608
Fire_Count     1608
dtype: int64

In [25]:
final_df['Fire_Count'].value_counts()

Fire_Count
1      430
2      227
3      164
4      117
6       72
      ...
106      1
120      1
154      1
74       1
76       1
Name: count, Length: 114, dtype: int64

In [26]:
fire_path = os.path.join("..", "data", "processed", "filtered_fire_data.csv")
fire_df = pd.read_csv(fire_path)

In [27]:
print(fire_df['Fire_Count'].sum())

20148

In [28]:

# File paths (relative for portability)
climate_path = os.path.join("..", "data", "processed", "flitered_climate_data.csv")
fire_path = os.path.join("..", "data", "processed", "filtered_fire_data.csv")

# Load datasets
climate_df = pd.read_csv(climate_path)
fire_df = pd.read_csv(fire_path)

# Normalize DISTRICT column: strip whitespace and lowercase
climate_df['DISTRICT'] = climate_df['DISTRICT'].str.strip().str.lower()
fire_df['DISTRICT'] = fire_df['DISTRICT'].str.strip().str.lower()

# Merge on YEAR, MONTH, DISTRICT
combined_df = pd.merge(
    climate_df,
    fire_df,
    on=['YEAR', 'MONTH', 'DISTRICT'],
    how='left'
)

# Fill fire-related columns with 0 where data is missing
fire_columns = ['Brightness', 'Confidence', 'ThermalData', 'FRP', 'Fire_Count']
for col in fire_columns:
    if col in combined_df.columns:
        combined_df[col] = combined_df[col].fillna(0)
    else:
        combined_df[col] = 0

output_path = os.path.join("..", "data", "processed", "combined_fire_climate.csv")
combined_df.to_csv(output_path, index=False)

In [29]:
# Merge fire_df with combined_df to add LAT and LON based on YEAR, MONTH, DISTRICT
fire_with_location = pd.merge(
    fire_df,
    combined_df[['YEAR', 'MONTH', 'DISTRICT', 'LAT', 'LON']],
    on=['YEAR', 'MONTH', 'DISTRICT'],
    how='left'
)

# Save the result to a new file
output_path = os.path.join("..", "data", "processed", "filtered_fire_with_location.csv")
fire_with_location.to_csv(output_path, index=False)